<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
            <div id="mc_embed_signup" class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2">
                {% comment %} <form action="{{site.subscribeAction}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> {% endcomment %}
                {% comment %}     <div class="mc-field-group col-lg-9 col-sm-9 col-xs-12"> {% endcomment %}
                {% comment %}         <i class="email bordered required waves-effect waves-light waves-input-wrapper"> {% endcomment %}
                {% comment %}             <input type="email" value="" name="EMAIL" class="waves-button-input" id="mce-EMAIL" placeholder="your@email.com" autocomplete="off"> {% endcomment %}
                {% comment %}         </i> {% endcomment %}
                {% comment %}     </div> {% endcomment %}
                {% comment %}     <div id="mce-responses" class="clear"> {% endcomment %}
                {% comment %}         <div class="response" id="mce-error-response" style="display:none"></div> {% endcomment %}
                {% comment %}         <div class="response" id="mce-success-response" style="display:none"></div> {% endcomment %}
                {% comment %}     </div> {% endcomment %}
                {% comment %}     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups--> {% endcomment %}
                {% comment %}     <div style="position: absolute; left: -5000px;"> {% endcomment %}
                {% comment %}         <input type="text" name="b_9fc8aa205b0521b5f05fc8e1e_ae0fb459fc" tabindex="-1" value=""> {% endcomment %}
                {% comment %}     </div> {% endcomment %}
                {% comment %}     <div class="mc-submit-group clear col-lg-3 col-sm-3 col-xs-12"> {% endcomment %}
                {% comment %}         <i class="button bordered required waves-effect waves-light waves-input-wrapper"> {% endcomment %}
						  {% comment %} <input type="submit" class="waves-button-input" value="Submit" name="subscribe" id="mc-embedded-subscribe"> {% endcomment %}
                {% comment %}         </i> {% endcomment %}
                {% comment %}     </div> {% endcomment %}
                {% comment %} </form> {% endcomment %}
                <span class="subscribe-info">{{ site.subscribeInfo }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->